

.logo{
   display:block;
   margin: auto;
   padding: 280px;
}
input#search-bar{
    margin: 0 auto;
    width: 500px;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid #D0CFCE;
    outline: none;
    display: block;
    position: absolute;
    top: 450px;
    right: 680px;
   
       }   
       .material-symbols-outlined{
        text-align: center;
        display: block;
        position: absolute;
        right: 1185px;
        top: 463px;
       }
       .material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 40 }
       input.gonder{
         color: #224059;
         background-color: #b5c9e2;
         border-top: 2px #cce3ff solid;
         border-left: 2px #cce3ff solid;
         border-bottom: 2px #31557f solid;
         border-right: 2px #31557f solid;
         font:bold 12px Arial, Helvetica, sans-serif;
         text-align: center;
         display: block;
         margin: 0 auto;
         padding: 5px;
         position: absolute;
         top: 555px;
         right: 955px;
         background-color: aliceblue;
     } 
     .input.gonder2{
      color: #224059;
      background-color: #b5c9e2;
      border-top: 2px #cce3ff solid;
      border-left: 2px #cce3ff solid;
      border-bottom: 2px #31557f solid;
      border-right: 2px #31557f solid;
      font:bold 12px Arial, Helvetica, sans-serif;
      text-align: center;
      display: block;
      margin: 0 auto;
      padding: 5px;
      position: absolute;
      top: 555px;
      right: 955px;
      background-color: aliceblue;
     }
     .buton{
      color: #224059;
      background-color: #b5c9e2;
      border-top: 2px #cce3ff solid;
      border-left: 2px #cce3ff solid;
      border-bottom: 2px #31557f solid;
      border-right: 2px #31557f solid;
      font:bold 12px Arial, Helvetica, sans-serif;
      text-align: center;
      display: block;
      margin: 0 auto;
      padding: 5px;
      position: absolute;
      top: 555px;
      right: 999px;
      background-color: rgba(235, 236, 238, 0.877);
      text-decoration: none;
     }
     .buton2{
      color: #224059;
      background-color: #b5c9e2;
      border-top: 2px #cce3ff solid;
      border-left: 2px #cce3ff solid;
      border-bottom: 2px #31557f solid;
      border-right: 2px #31557f solid;
      font:bold 12px Arial, Helvetica, sans-serif;
      text-align: center;
      display: block;
      margin: 0 auto;
      padding: 5px;
      position: absolute;
      top: 555px;
      right: 850px;
      background-color: rgba(235, 236, 238, 0.877);
      text-decoration: none;
     }
     .navigation_bar{
     position: absolute;
     top: 20px;
     padding-left: 0;
     margin-left: 15px;
     display:block;
     }
     .li{
      display: inline-block;
     }
.navigation_bar2{
   position:fixed;
   display:inline-block;
}